<% obj.each do |art| %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
         <div class="article-title">
     <%= link_to art.title, article_path(art) %>
           </div>
      <div class="article-body">
     <%= truncate(art.description, length: 100) %>
        <div class="article-meta-details">
        <small>created by:<%= art.chalaune.username if art.chalaune %>
          <%= time_ago_in_words(art.created_at) %> ago,
          last updated:<%= time_ago_in_words(art.updated_at) %> ago </small>
        </div>
        </div>
     <% if logged_in? && current_chalaune == art.chalaune %>
    <div class="article-actions">
<%= link_to 'edit this article', edit_article_path(art), class: "btn btn-primary btn-xs" %>
<%= link_to 'delete this article', article_path(art), method: :delete, data: {confirm: "are you sure"}, class: "btn btn-xs btn-danger" %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>