<h1>listing all articles </h1>
<%= link_to "create new article", new_article_path %>|
<table>
  <tr>
    <th>Title</th>
    <th>Description </th>
    </tr>
  <% @articles.each do |art| %>
  <tr>
    <td> <%= art.title %></td>
    <td> <%= art.description %></td>
    <td> <%= link_to "edit", edit_article_path(art) %></td>
    <td> <%= link_to "show", article_path(art) %> </td>
    <td> <%= link_to 'delete', article_path(art), method: :delete, data: {confirm: "are you sure?"}%> </td>

    </tr>
  <% end %>
  </table>